<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.ac.umn.chilli">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Chilli"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chilli"
        tools:targetApi="31">
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name="id.ac.umn.chilli.LoginActivity"
            android:exported="true"
            android:label="Chilli"
            android:theme="@style/Theme.Chilli.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name="id.ac.umn.chilli.MainActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name="id.ac.umn.chilli.RegisActivity"
            android:exported="true" />
    </application>
</manifest>